<div class="jumbotron">
<h1>Walk SD</h1>
</div>

<div>
    <div class="container" ng-controller="walksdController as walksdCtrl">
        <form name="walksdForm">
            <div class="form-group" ng-class="{'has-error' : walksd.start.$invalid && !walksdForm.start.$pristine }">
                <label for="Start">Start</label>
                <input type="text" id="Start" class="form-control" name="Start" placeholder="Start" ng-model="walksdCtrl.walksdItem.start" required>
                <p ng-show="walksdForm.title.$invalid && !walksdForm.title.$pristine" class="help-block">Start location is required</p>
                <button onclick="getLocation()">Get current location</button>
            </div>

            <div class="form-group" ng-class="{'has-error' : walksdForm.title.$invalid && !walksdForm.end.$pristine }">
                <label for="End">End</label>
                <input type="text" class="form-control" name="End" placeholder="End" ng-model="walksdCtrl.walksdItem.end" required>
                <p ng-show="walksdForm.end.$invalid && !walksdForm.title.$pristine" class="help-block">End location is required</p>
            </div>
        </form>

    </div>
</div>


@section scripts {
    <script type="text/javascript">

        (function () {
            "use strict";

            angular.module('myApp', [])
                .controller('walksdController', WalksdController)

            WalksdController.$inject = ['$scope', "walkSDservice"];

            function WalksdController(
                $scope
                , $walkSDservice) {

                var vm = this;
                vm.item = null;

                vm.$walkSDservice = $walkSDservice;
                vm.$scope = $scope;

                vm.walksdItem = {};

                //  bindable members (functions) always go up top while the "meat" of the functions go below: https://github.com/johnpapa/angular-styleguide#style-y033

                // GET BINDS
                vm.getForm = _getForm;

                // SUBMIT BINDS
                vm.submit = _submit;

                //-- this line to simulate inheritance
                $baseController.merge(vm, $baseController);

                //this is like the sabio.startUp function
                render();

                function render() {
                }

                function _getForm(data) {
                    vm.notify(function() {
                        vm.walksdItem = data.item;
                    });
                    console.log(vm.walksdItem);
                }

                function _submit(isValid) {

                }

            }
        })();
</script>

<script>
    var x = document.getElementById("Start");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        x.value = (position.coords.latitude + ", " + position.coords.longitude);
    }
</script>
}